<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <h2 class="text-center">CRUD OPERATIONS</h2>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openAddModal()">
    Add User +
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ isEditMode ? 'Edit User' : 'Add User' }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Form for adding or editing a user -->
          <form #formData="ngForm" (ngSubmit)="isEditMode ? updateUser() : addUser(currentUser.id || 0, currentUser.name, currentUser.email)">
            <div class="form-group">
              <input type="hidden" id="id" [(ngModel)]="currentUser.id" name="id" [readonly]="isEditMode">

              <label for="name">Name :</label>
              <input type="text" [(ngModel)]="currentUser.name" name="name" placeholder="Enter a name" class="form-control" />
            </div>
            <div class="form-group">
              <label for="email">Email :</label>
              <input type="email" [(ngModel)]="currentUser.email" name="email" placeholder="Enter an email" class="form-control" />
            </div>
            <br>
            <button type="submit" class="btn btn-primary">{{ isEditMode ? 'Update User' : 'Add New User' }}</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="container mt-4">
  <!-- Users Table -->
  <table id="userTable" class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openEditModal(user)">Edit</button>
          <button class="btn btn-danger" (click)="deleteUser(user.id)" *ngIf="user.id">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
